*{
	margin:0px;
	padding:0px;
}	

body {
	line-height: 1.5;
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 75%;
	display:flex;
	align-items: center;
}
	
h1{
		

}

p{
		
}

img{
		
}
	
.imgindex{
		
}
	
#principal {
		
}